body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    background-color: #28605A;
    font-family: monospace;
}

h1 {
    font-size: 4em;
    color: #fff;
}

.calculator {
    border-radius: 4%;
    background-color: #5F788A;
    min-width: 322px;
    max-width: 480px;
    max-height: 490px;
    width: 50%;
    height: auto;
    box-shadow: #422800 1rem 1rem 0rem 0.6rem;
}

.display {
    background-color: #2F4858;
    color: #FAF0CA;
    font-size: large;
    padding: 5% 10%;
    margin: 2rem 2.4rem;
    border: none;
    border-radius: 4%;
    text-align: right;
}

.buttons {
    margin: 2rem 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem 2rem;
}

button {
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color:#B6D0E4;
    color: #000;
    border-radius: 8%;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1); 
    padding: 1em;
    flex: 1;
}

button:active {
    background-color: #F1F1E6;
    color:#000;
    transform: translateY(2px);
}

#zero {
    flex: 3;
}

button#clear {
    background-color: #00A0F3;
}

button#clear:active {
    background-color: #00D6DF;
}

button#equals {
    background-color: #FF5D68;
}

button#equals:active {
    background-color: #E771A3;
}

button#pos-or-neg,
button#percentage {
    background-color: #00E8B5;
}

button#pos-or-neg:active,
button#percentage:active {
    background-color: #78FAC5;
}

button#divide,
button#multiply,
button#subtract,
button#add {
    background-color: #8983FF;
}

button#divide:active,
button#multiply:active,
button#subtract:active,
button#add:active {
    background-color: #F276E0;
}
